@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    background: #303030;
    min-height: calc(100vh - 64px);
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.p-card {
    background: #303030;
}

.p-password {
    display: block !important;
}


.p-inputtext {
    color: #303030;
    width: 100%;
}

.p-inputtext:enabled:focus {
    border: none;
    box-shadow: none;
}

app-home .p-card {
    position: relative;
}

app-home .p-card-body {
    padding: 0 0 0.5rem 0 !important;
}

app-home .p-card-content {
    padding-top: 0 !important;
}

app-home .p-card-header {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

app-movie .p-card{
    background: transparent;
    color: white;
    width: 100%;
}

app-movie .p-card-body {
    padding: 0 !important;
}

.error-message {
    color: white;
    padding-top: 0.5rem
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.list-navigation {
    width: 70%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}


.nav-button {
    margin-right: 0.5rem;
    padding: 0.5rem;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    border-bottom-width: 0%;
    outline: none;
    background: transparent;
    transition: border 0.25s ease;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 0.7;
}


.card-list{
    width    : 100%;
    display  : flex;
    flex-wrap: wrap;
}

.card-list li {
    margin : 10px 0;
    width  : 25%;
    padding: 10px;
}

img {
    width: 100%;
}

.btn {
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 0.5rem;
}

.more-btn {
    background: #1976d2;
}

.add-btn {
    background: transparent;
    border: 1px solid white;
}

.remove-btn {
    background: #D32F2F;
}

.heading {
    padding-left: 30px;
    width: 50%;
    margin-bottom: 20px;
}

.heading h1 {
    font-size: 3rem;
    color: white;
}

.heading p {
    color: white;
}
